@font-face {
    font-family: 'Flow Circular';
    src: url('../FlowCircular-Regular.eot');
    src: url('../FlowCircular-Regular.eot?#iefix') format('embedded-opentype'),
        url('../FlowCircular-Regular.woff2') format('woff2'),
        url('../FlowCircular-Regular.woff') format('woff'),
        url('../FlowCircular-Regular.svg#FlowCircular-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter 28pt';
    src: url('../Inter28pt-Regular.eot');
    src: url('../Inter28pt-Regular.eot?#iefix') format('embedded-opentype'),
        url('../Inter28pt-Regular.woff2') format('woff2'),
        url('../Inter28pt-Regular.woff') format('woff'),
        url('../Inter28pt-Regular.svg#Inter28pt-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}